<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <base href="/" />
    <link rel="stylesheet" href="assets/css/styles.css">
    <title>Presidents Of The United States</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
